/* body.css */
.body-container {
    padding: 20px;
    background-color: #f4f6f9;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.route-content {
    width: 100%;
    max-width: 1100px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 10px 0;
}

h2 {
    color: #343a40;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
}

p {
    color: #495057;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 15px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-container button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: #0056b3;
}
